*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* parte sopra */

.container{

    width: 80%;
    margin: 0 auto;
    /* debug */
    /* height: 500px;
    margin-top: 50px; */
}

a{
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    object-fit: cover;
}

.up:hover .overlay {
    opacity: 1;
}


.up{
    float: left;
    width: calc(100% / 3);
    border-right: solid 5px white;
    position: relative;
    
}

.up img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.discount{
    padding: 5px;
    font-size: 20px;
    background-color: red;
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white;
}

.sostenibilità{
    padding: 5px;
    font-size: 20px;
    background-color: rgb(11, 146, 52);
    position: absolute;
    bottom: 100px;
    left: 60px;
    color: white;
}
.cuore{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0px;
}
h4{
    color: lightgray;
}
h3{
    color: red;
    display: inline-block;
}

p{
    text-decoration: line-through;
    color: rgb(143, 142, 142);
    display: inline-block;
}

.text{
    z-index: 300;
}